@media all and (min-width: 0px) and (max-width: 1200px) {
    .body-container .left-block .info {
        display: none;
    }
    .body-container .left-block .streamer-list .streamer .user-info {
        display: none;
    }
    .body-container .left-block {
        width: 50px !important;
    }
}

.body-container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
}

.body-container .left-block {
    width: 200px;
    height: 100%;
    display: grid;
    background: #ebebeb;
}

.body-container .right-block {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-areas:
    'categories categories categories categories categories categories'
    'slider slider slider slider slider slider'
    'video video video video video video'
    'footer footer footer footer footer footer';
}

.streamer-list {
    width: inherit;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.streamer {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}

.streamer:hover {
    background: #b2b2b3b2;
}

.streamer .user-avatar {
    margin-left: 10px;
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.streamer .user-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
}

.streamer .user-info p {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.streamer .user-info .name:hover {
    color: #004df3;
}

.streamer .user-info .live {
    margin-right: 5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: tomato;
    display: inline-flex;
}

@keyframes pulsate {
    0% { transform: scale(0.1, 0.1); opacity: 0.0;}
    50% { opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

.streamer .user-info .stream:hover .live {
    border: 2px solid tomato;
    position:relative;
    animation: pulsate 1s ease-out infinite;
    opacity: 0.0;
}

.streamer .user-avatar img {
    width: 90%;
    height: auto;
}

.body-container .left-block .info {
    margin: 10px;
    border-radius: 5%;
    height: 110px;
    background: #dfdfdf;
    align-self: end;
    text-align: center;
}

.body-container .left-block .info .links {
    display: flex;
    color: black;
    transition: color 0.2s ease-in-out;
    justify-content: space-evenly;
}

.body-container .left-block .info .links .icon:hover {
    transition: color 0.2s ease-in-out;
    color: skyblue;
}

.body-container .right-block .categories-block {
    grid-area: categories;
    width: 100%;
    max-width: inherit;
    height: 60px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    margin: 0;
    padding: 0;
}

.body-container .right-block .categories-block::-webkit-scrollbar {
    width: 0;
}

.categories-block .category p {
    font-size: small;
    margin: 0;
    width: max-content;
}

.categories-block .category {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    margin: 10px 5px;
    border: 1px solid transparent;
    background: #dfdfdf;
    border-radius: 15px;
}

.categories-block .selected, 
.categories-block .category:hover {
    background: #eeb149;
    color: whitesmoke;
}

.video-block {
    display: grid;
    grid-area: video;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin: 20px;
}

.video-block .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 250px;
}

.video-block .video .preview {
    position: relative;
    width: 100%;
    height: 80%;
}

.video-block .video .preview .video-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    color: white;
    z-index: 1000;
    background: rgba(0,0,0, 0.5);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
}

@keyframes fade {
    0% { opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.video-block .video .preview:hover .video-hover {
    animation: fade 0.3s cubic-bezier(0.4, 0, 1, 1);
    animation-fill-mode: forwards;
}

.online {
    padding: 0px 5px;
    position: absolute;
    z-index: 10;
    width: min-content;
    height: min-content;
    color: whitesmoke;
    background: tomato;
    border-radius: 3px;
    top: 5px;
    left: 5px;
    font-size: small;
}
  
.views {
    padding: 0px 5px;
    position: absolute;
    z-index: 10;
    width: min-content;
    height: min-content;
    color: whitesmoke;
    background: rgba(0,0,0, 0.5);
    border-radius: 3px;
    bottom: 5px;
    right: 5px;
    white-space: nowrap;
    font-size: small;
}

.video-block .description .description-head .text {
    margin: 0 10px;
    width: 100%;
}

.video-block .description .description-head {
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
}