.header-container {
    display: inline-flex;
    position: relative;
    background: whitesmoke;
    flex-flow: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    align-content: center;
    box-shadow: 0px 5px 13px -7px rgba(0, 0, 0, 0.6);
}

.header-container > .left-block {
    margin: auto 10px;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header-container > .left-block > * {
    cursor: pointer;
    color: #eeb149;
}

.header-container > .left-block > p {
    margin: 0 10px;
    font-size: x-large;
}

.header-container > .center-block {
    min-width: 200px;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    width: 35%;
    justify-content: space-around;
    flex-direction: row;
}

.header-container > .center-block form {
    margin: 0;
    display: inline-flex;
    width: 100%;
}

.header-container > .center-block .center-block-search {
    width: 100%;
    display: inline-flex;
    border: 1px solid #e2e2e2;
}

.header-container > .right-block {
    margin: auto 10px;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-container > .right-block .user-menu {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header-container > .right-block .user-menu-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.3s ease;
    background: #eeb149;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header-container > .right-block .user-menu .dropdown-content {
    transition: all 0.3s ease;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 0;
    margin: 0;
    z-index: 1;
    right: 0;
    top: 40px;
    flex-direction: column;
    border-radius: 5px;
  }
  
  .header-container > .right-block .user-menu:hover .dropdown-content {
    display: flex;
  }

  .header-container > .right-block .user-menu:hover .user-menu-icon {
    background: #e0e0e0;
  }