@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
 input[type=radio] {
	 display: none;
}

.slider {
  grid-area: slider;
  margin: auto;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

 .card {
   display: inline-flex;
	 position: absolute;
	 width: 60%;
	 height: 100%;
	 left: 0;
	 right: 0;
	 margin: auto;
	 transition: transform 0.4s ease;
	 cursor: pointer;
   background: #d6d6d6;
}

.card .image {
  position: relative;
  width: 70%;
  height: 100%;
}

.card .description {
  width: 30%;
  height: 100%;
}

.description .description-head {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card .description .description-head .text {
  width: 50%;
  text-overflow: ellipsis;
}
.description .description-head .text .name {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-weight: bold;
  font-size: smaller;
  text-overflow: ellipsis;
}

.description .description-head .text .author {
  margin: 0;
  font-weight: lighter;
  font-size: small;
}

.description .description-head img {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.description .user-text {
  margin: 10px;
  font-weight: lighter;
  font-size: smaller;
}

 .cards {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 margin-bottom: 20px;
}
 img {
	 width: 100%;
	 height: 100%;
}

#item-1:checked ~ .cards #song-5, 
#item-2:checked ~ .cards #song-1, 
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-4 {
	 transform: translatex(-40%) scale(0.8);
	 z-index: 10;
}

 #item-1:checked ~ .cards #song-2, 
 #item-2:checked ~ .cards #song-3, 
 #item-3:checked ~ .cards #song-4,
 #item-4:checked ~ .cards #song-5,
 #item-5:checked ~ .cards #song-1 {
	 transform: translatex(40%) scale(0.8);
	 z-index: 10;
}

 #item-1:checked ~ .cards #song-1, 
 #item-2:checked ~ .cards #song-2, 
 #item-3:checked ~ .cards #song-3,
 #item-4:checked ~ .cards #song-4,
 #item-5:checked ~ .cards #song-5 {
	 transform: translatex(0) scale(1);
	 z-index: 20;
}

 #item-1:checked ~ .cards #song-1, 
 #item-2:checked ~ .cards #song-2, 
 #item-3:checked ~ .cards #song-3,
 #item-4:checked ~ .cards #song-4,
 #item-5:checked ~ .cards #song-5 {
	 box-shadow: 0px 4px 9px 0px rgb(81 81 81 / 70%);
}
 