body {
    transition: all 0.3s ease;
    display: contents;
    font-family: 'Merienda';
}

input {
    margin: 0;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

input:hover, input:focus {
    border: 1px solid #a1a1a1;
}

button {
    margin: 0;
    border: 1px solid #e2e2e2;
    padding: 5px;
    background: #efefef;
    transition: all 0.3s ease;
}

button:hover {
    background: #e0e0e0;
}

button.secondary {
    margin: 0;
    padding: 5px 15px;
    border: none;
    color: #c1c1c1;
    background: transparent;
    transition: all 0.3s ease;
}

button.secondary:hover {
    color: #a1a1a1;
}

li {
    width: 100%;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

li:hover {
    background: #e7e8e9;
}

li p {
    margin: 10px;
}

li > * {
    margin-left: 15px;
}

.red {
    color: #f6001d;
}

p:hover {
    color: #004df3;
    cursor: pointer;
}